@import '~govuk-frontend/govuk/vendor/_sass-mq';
@import '~govuk-frontend/govuk/settings/spacing';
@import '~govuk-frontend/govuk/helpers/spacing';
@import '~govuk-frontend/govuk/settings/all';
@import '~govuk-frontend/govuk/helpers/all';
@import '~govuk-frontend/govuk/tools/all';
@include mq($from: tablet) {
  .task-versions .govuk-accordion__section-summary {
    display: flex;
    justify-content: space-between;
  }
  .task-versions--right {
    margin-top: -40px;
  }
}

.task-versions--highlight {
  border-bottom: 3px solid #ffbf47;
  margin-right: 1px;
  background-color: #fff2d3;
  padding: 2px 0 0;
}

@include mq($from: tablet) {
  .task-actions--buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20pt;
  }
}

@media (min-width: 40.0625em) {
  .govuk-grid-column-two-thirds {
    width: 70%;
    float: left;
  }
}

@media (min-width: 40.0625em) {
  .govuk-grid-column-one-third {
    width: 30%;
    float: left;
  }
}

.card {
  //font-size: 1em;
  background-color: #f3f2f1;
  border-top: 1px solid #b1b4b6;
  border-bottom: 1px solid #b1b4b6;
  .govuk-grid-row {
    margin-left: 2em;
    margin-right: 2em;
  }
  /* Remove govuk default padding for ul */
  ul {
    margin-block-start: 0px;
    padding-inline-start: 5px;
  }
  .align-middle {
    vertical-align: middle;
  }
  .govuk-heading-s {
    margin-bottom: 0px;
  }
  .grid-background--greyed {
    background-color: #f3f2f1;
    padding: 20px 10px 5px 0px;
  }
  .right-arrow {
    font-size: 20px;
  }
}

.mode-details {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  font-family: 'nta', Arial, sans-serif;
  font-size: 0.9em;
  flex-wrap: wrap;
}

.mode-details li {
  list-style: none;
  text-align: right;
}

.govuk-summary-list__row {
  &.font__light {
    font-weight: lighter;
    color: #505a5f;
  }
  &.font__bold {
    font-weight: bold;
  }
}

.font__light {
  color: #505a5f;
  font-weight: lighter;
  font-size: 15px;
}

.font__bold {
  font-weight: bold;
  font-size: 15px;
}

.bottom-border {
  border-bottom: 1px solid #b1b4b6;
}

.govuk-task-details-grid {
  font-family: 'GDS Transport', arial, sans-serif;
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border-bottom: 2px solid #b1b4b6;
  margin-bottom: 10px;
  .govuk-task-details-grid-row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    padding: 5px 5px 5px 0px;
    &.bottom-border {
      margin-bottom: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #b1b4b6;
    }
  }
  .govuk-task-details-grid-row::after {
    content: '';
    clear: both;
  }
  &.task-versions--highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0 0;
  }
  .govuk-task-details-indicator-container {
    .title-heading {
      margin-bottom: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #b1b4b6;
    }
    .govuk-grid-key {
      //font-size: 15px;
      font-size: 0.9em;
      float: left;
      &.font__light {
        font-weight: lighter;
        color: #505a5f;
      }
      &.font__bold {
        font-weight: bold;
      }
    }
    .govuk-grid-value {
      //font-size: 15px;
      font-size: 0.9em;
      float: right;
      &.font__light {
        font-weight: lighter;
        color: #505a5f;
      }
      &.font__bold {
        font-weight: bold;
      }
    }
    &.bottom-border-thick {
      border-bottom: 3px solid #b1b4b6;
    }
    .list-bullet-container {
      padding-left: 15px;
      margin-bottom: 0;
    }
    .list-bullet {
      list-style: none;
    }
    .list-bullet::before {
      content: '\25A0  ';
      color: #d53880;
      margin-left: -15px;
    }
  }

  .govuk-task-details-counts-container {
    .govuk-task-details-grid-row {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 5px;
      height: 15px;
      padding: 0px 0px 10px 0px;
      &.bottom-border {
        margin-bottom: 5px;
        border-bottom: 1px solid #b1b4b6;
      }
    }
    .title-heading {
      margin-bottom: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #b1b4b6;
    }
    .govuk-grid-key {
      font-size: 0.9em;
      float: left;
      &.font__light {
        font-weight: lighter;
        color: #505a5f;
      }
      &.font__grey {
        color: #505a5f;
      }
      &.font__bold {
        font-weight: bold;
      }
      &.task-versions--highlight {
        border-bottom: 3px solid #ffbf47;
        margin-right: 1px;
        background-color: #fff2d3;
        padding: 2px 0 0;
      }
    }
    .govuk-grid-value {
      font-size: 0.9em;
      float: right;
      &.font__light {
        font-weight: lighter;
        color: #505a5f;
      }
      &.font__bold {
        font-weight: bold;
      }
      &.font__grey {
        color: #505a5f;
      }
      &.task-versions--highlight {
        border-bottom: 3px solid #ffbf47;
        margin-right: 1px;
        background-color: #fff2d3;
        padding: 2px 0 0;
      }
    }
    &.bottom-border-thick {
      margin-bottom: 10px;
      border-bottom: 3px solid #b1b4b6;
    }
  }
  .task-details-container {
    overflow: hidden;
    &.title-heading {
      margin-bottom: 5px;
      padding-bottom: 5px;
    }
    &.bottom-border-thick {
      margin-bottom: 10px;
      border-bottom: 3px solid #b1b4b6;
    }
    .govuk-task-details-grid-column {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 0.5em; // em unit used here for appropriate scaling between monitor sizes.
      padding-right: 5px;
      &.bottom-border {
        margin-bottom: 10px;
        border-bottom: 1px solid #b1b4b6;
      }
    }
    .govuk-task-details-grid-item {
      display: flex;
      grid-template-columns: auto;
      &.bottom-border {
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #b1b4b6;
      }
    }
    .govuk-grid-key {
      font-size: 15px;
      float: left;
      margin-bottom: 2px;
      &.font__light {
        font-weight: lighter;
        color: #505a5f;
      }
      &.font__bold {
        font-weight: bold;
      }
      .data-field-font {
        font-size: 12px;
      }
    }
    .govuk-grid-value {
      font-size: 15px;
      float: right;
      &.font__light {
        font-weight: lighter;
        color: #505a5f;
      }
      &.font__bold {
        font-weight: bold;
      }
      .data-field-font {
        font-size: 12px;
      }
    }
    /* Remove govuk default padding for ul */
    ul {
      margin-block-start: 0px;
      padding-inline-start: 0px;
      display: grid;
      li {
        list-style-type: none;
      }
    }
    .govuk-details__summary {
      padding-left: 15px;
    }
  }
  .task-versions-details-notes {
    font-family: 'GDS Transport', arial, sans-serif;
    display: flex;
    padding: 5px;
    grid-template-columns: 80% 20%;
    grid-gap: 2em;
  }
  .task-versions-details-notes::after {
    content: '';
    clear: both;
  }
  .govuk-grid-column-one-third {
    padding: 0 10px 0 0;
    width: 100%;
  }
  .govuk-task-details-col-2,
  .govuk-task-details-col-3 {
    padding-left: 10px;
    .total-occupants-header {
      margin-bottom: -10px;
    }
    .total-occupants-count {
      margin-bottom: 5px;
    }
    .primary-traveller-header {
      margin-top: 10px;
    }
  }
  .govuk-task-details-counts-container {
    margin-bottom: 10px;
  }
}

.enrichment-counts {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 10px;
  .labels {
    float: left;
    border-bottom: 1px solid #b1b4b6;
    width: 100%;
  }
  .values {
    float: left;
    padding-top: 5px;
    width: 100%;
  }
  .govuk-grid-column-one-third {
    float: left;
    padding: 0 15px;
    width: 33.3333%;
  }
}

.summary-data-list {
  font-family: 'GDS Transport', arial, sans-serif;
  li {
    list-style: none;
  }
  .font__bold {
    font-weight: bold;
  }
  .dot {
    height: 4px;
    width: 4px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
  }
  .freight-icon,
  .movement-mode-icon {
    margin: auto 0 auto 0;
    padding-bottom: 2.5em;
  }
  .c-icon-group::before,
  .c-icon-person::before,
  .c-icon-trailer::before,
  .c-icon-van::before,
  .c-icon-car::before,
  .c-icon-hgv::before {
    left: 10px;
  }
  .c-icon-ship::before {
    left: 5px;
  }
  .second-half {
    padding-right: 10px;
  }
  .first-half {
    padding-left: 10px;
  }
  .second-half {
    padding-right: 10px;
  }
}

.govuk-task-summary-grid::after {
  content: '';
  clear: both;
}

.header-bg-grey,
.rules-header,
.other-rules-header {
  background-color: #f3f2f1;
  padding: 2px 0 2px 0;
}

.hidden {
  display: none;
}

.task-details-accordion {
  border: 2px solid #b1b4b6;
  padding: 5px;
}

.govuk-heading-m {
  &.task-details-notes-heading {
    background-color: #f3f2f1;
    border-bottom: 1px solid #b1b4b6;
    padding-right: 0.25em;
    padding-left: 0.25em;
    margin-top: 0.8em;
  }
}

.activity-body-container {
  border-left: 5px solid #505a5f;
  padding-left: 0.25em;
  padding-right: 0.25em;
  .govuk-body {
    margin-bottom: -15px;
  }
}

.govuk-grid-column-one-third {
  // flex: 1 0 250px; // Intentionally commented out
  .govuk-section-break--m {
    margin-bottom: 5px;
  }
  .govuk-heading-m {
    margin-bottom: 10px;
  }
  .govuk-section-break--visible {
    border-bottom: 2px solid #b1b4b6;
  }
}

.govuk-main-wrapper {
  .govuk-grid-row {
    padding-bottom: 5px !important;
  }
  .govuk-task-detail-header {
    border-bottom: 4px solid #b1b4b6;
    margin-bottom: 20px;
  }
}

.govuk-tag {
  @include govuk-font($size: 14, $weight: bold, $line-height: 1);
  height: 19px;
  color: #fff;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 3px 5px 0 5px;

  &.govuk-tag--positiveTarget {
    background-color: #bc2410;
  }

  &.govuk-tag--newTarget {
    background-color: #00703c;
    margin-bottom: 0.25em;
    padding-bottom: 0.125em;
    padding-top: 0.375em;
  }

  &.govuk-tag--updatedTarget {
    background-color: #f47738;
    margin-bottom: 0.25em;
  }
}

.govuk-accordion {
  &.task-versions {
    .govuk-accordion__section {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.data-container {
  padding-left: 10px;
}

.vertical-dotted-line-one {
  height: inherit;
  border-left: 4px dotted #b1b4b6;
}

.vertical-dotted-line-two {
  height: inherit;
  border-left: 4px dotted #b1b4b6;
}

.govuk-task-details-divider {
  border-bottom: 0.5px solid #b1b4b6;
}

.float-right {
  float: right !important;
}

@media only screen and (max-width: 840px) {
  .vertical-dotted-line-one {
    height: inherit;
    border-left: 0px dotted #b1b4b6;
  }
  .vertical-dotted-line-two {
    border-left: 0px dotted #b1b4b6;
  }
}

@media only screen and (max-width: 1237px) {
  .vertical-dotted-line-two {
    border-left: 0px dotted #b1b4b6;
  }
}
