.govuk-heading-m {
  &.task-details-activity-log-heading {
    background-color: #f3f2f1;
    border-bottom: 1px solid #b1b4b6;
    padding-right: 0.25em;
    padding-left: 0.25em;
    margin-top: 0.8em;
    margin-bottom: 5px;
  }
}

.activity-body-container {
  border-left: 5px solid #505a5f;
  padding-left: 0.25em;
  padding-right: 0.25em;
  .govuk-body {
    margin-bottom: -15px;
  }
}

.govuk-activity-section-break--visible {
  margin-top: 20px !important;
  margin-bottom: 5px !important;
  border-bottom: 2px solid #b1b4b6 !important;
}
