.govuk-targeting-indicators-grid {
  font-family: 'GDS Transport', arial, sans-serif;
  display: grid;
  padding: 2px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  .govuk-grid-column-one-third {
    padding: 0 10px 0 0;
    width: 100%;
  }
}

.vertical-dotted-line-one {
  height: inherit;
  border-left: 4px dotted #b1b4b6;
}

.vertical-dotted-line-two {
  height: inherit;
  border-left: 4px dotted #b1b4b6;
}
